// Custom styles.
.site-title {
    font-size: 100px !important
    
}

//body{
//    font-size: 18px !important
//    color: #000 !important
//}

.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

.header-inner {
    margin: 0 auto;
    padding: 40px 0 40px;
    width: 810px;
}

